<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome To Portfolio</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <div class="container">
    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(11).jpg">
    <div class="title">DANIEL MARK PORTFOLIO</div>
    <div class="subtitle">UI/UX Developer, Who Codes in Javascript</div>
    <button class="btn" style="vertical-align:middle" (click)="goToPage('profile')"><span>LAUNCH </span></button>
  </div>
</body>
</html>
